# 镜像名称和阿里云目标仓库
image_name="etcd"
aliyun_repo="crpi-rabdabzjv0hyxneu.cn-hangzhou.personal.cr.aliyuncs.com/lglhg/${image_name}"

# 获取所有标签的 API 请求（Docker Hub）
tags_response=$(curl -s "https://registry.hub.docker.com/v2/repositories/bitnami/${image_name}/tags/")
echo "Tags response: $tags_response"

# 如果返回结果为空，退出脚本
if [[ -z "$tags_response" || "$tags_response" == "null" ]]; then
  echo "无法获取标签数据，退出脚本"
  exit 1
fi

tags=$(echo "$tags_response" | jq -r '.results[].name')
echo "Fetched tags: $tags"

# 循环拉取每个标签，并推送到阿里云
for tag in $tags; do
  # 检查标签是否包含 Windows 特定的字符串
  if [[ "$tag" == *"windows"* || "$tag" == *"nanoserver"* ]]; then
    echo "跳过 Windows 镜像 ${image_name}:${tag}..."
    continue
  fi

  # 检查镜像的架构类型
  manifest=$(curl -s "https://registry.hub.docker.com/v2/repositories/bitnami/${image_name}/tags/${tag}/images/")

  # 检查是否支持 linux/amd64 架构
  if [[ $(echo "$manifest" | jq -r '.[0].architecture') != "amd64" ]]; then
    echo "跳过不支持 linux/amd64 架构的镜像 ${image_name}:${tag}..."
    continue
  fi

  echo "同步镜像 ${image_name}:${tag} 到阿里云..."

  # 拉取 Docker Hub 镜像
  docker pull "docker.io/bitnami/${image_name}:${tag}"

  # 标记并推送到阿里云仓库，标签不变
  docker tag "docker.io/bitnami/${image_name}:${tag}" "${aliyun_repo}:${tag}"
  docker push "${aliyun_repo}:${tag}"
done
